html {
  height: 100vh;
}

body {
  font-family: var(--font);
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

svg.large {
  height: 50px;
  width: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--nav-bg);
  display: grid;
  grid-template-rows: 75px auto;
  color: white;
}

nav svg {
  color: inherit;
}

.nav-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
}

.nav-container h1 {
  text-align: center;
}

menu {
  position: fixed;
  top: 75px;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--nav-bg);
  transform: translateX(-100%);
  animation: slide-left .2s ease-in-out;
}

.hamburger {
  height: 50px;
  width: 50px;
}

.hamburger #top-line,
.hamburger #bottom-line,
.hamburger #middle-line {
	transform-box: fill-box;
	transform-origin: center;
}

nav.active menu {
  animation: slide-right .2s ease-in-out;
  transform: translateX(0%);
}

nav.active svg {
	#top-line {
		animation: down-rotate 0.6s ease-out both;
	}
	#bottom-line {
		animation: up-rotate 0.6s ease-out both;
	}
	#middle-line {
		animation: hide 0.6s ease-out forwards;
	}
}

header {
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-rows: 50px auto 50px;
}

main {
  background: var(--bg);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.icon {
  height: 25px;
}

.card {
  height: 200px;
  width: 200px;
  border: solid red 1px;
}